* {
    -fx-color: #000;

    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    line-height: normal;

}

Button {
    -fx-background-color: white;
    -fx-font-size: 24px;
    -fx-font-family: Inter;
    -fx-border-radius: 30px;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-color: transparent;
    -fx-end-margin: auto;
    -fx-start-margin: auto;
    -fx-border-color: none;
}

.table-row-cell {
    -fx-padding: 0.0em;

}

.table-column {
    -fx-padding: 0.0em;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-font-size: 2px;



}

/* Set the column to fit content */
.table-column {
    -fx-pref-width: -1;
    -fx-min-width: -1;
    -fx-max-width: -1;

}

.ImageView {
    -fx-border-radius: 20px;
}

.table-cell:filled {
    -fx-background-color: -fx-my-cell-background;

}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: null;

}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
}

@media only screen and (max-width: 600px) {

}